@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'DM Serif';
    src: url(../fonts/dmseriftext-regular-webfont.woff) format('woff'),
    url(../fonts/dmseriftext-regular-webfont.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    display: flex;
    padding: 35px 80px;
    z-index: 111111;
    background-color: transparent;
}

.navbar .nav-logo img{
    width: 150px;
}

.navbar .nav-links {
    width: 100%;
    margin-top: 22px;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar .nav-links ul li {
    display: inline-block;
    margin-left: 130px;
    transform: translateX(-40px);

}

.navbar .nav-links ul li a {
    text-decoration: none;
    color: #29362F;
    font-size: 20px;
}

.navbar .nav-links ul li::after {
    content: '';
    display: block;
    height: 2.5px;
    width: 0;
    background-color: #29362F;
    margin: auto;
    transition: .5s;
}

.navbar .nav-links ul li:hover::after {
    width: 100%;
}

main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F3F8FC;
}

main #content {
    width: 94%;
    height: 100vh;
    position: relative;
}

main #content .hero {
    background: linear-gradient(rgba(205, 226, 243, 0.23),rgba(205, 226, 243, 0.23)),
    url(../img/hero.jpg);
    width: 93%;
    height: 100vh;
    background-position-y: -570px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1111;

}

main #content article {
    position: absolute;
    top: 130px;
    right: 140px;
    z-index: 111111;
}

main #content article .judul {
    width: 250px;
    font-size: 54px;
    font-family: 'DM Serif';
    font-weight: normal;
    line-height: 68px;
    margin-bottom: 30px;
}

main #content article p {
    width: 200px;
    color: #8b8b8b;
    font-size: 18px;
    margin-bottom: 30px;
}

main #content article .btn-explore {
    width: 100px;
    font-size: 17px;
    height: 57px;
    outline: none;
    border: 3px solid #29362F;
    background-color: transparent;
    border-radius: 50px;
    transform: translate(30px, 0);
    cursor: pointer;
    transition: .3s;
}

main #content article .btn-explore:hover {
    transform: translate(30px, -3px)
}
.sidebar {
    width: 6%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar .sidebar-list {
    background-color: #fff;
    height: 65vh;
    padding: 60px 0 0;
}

.sidebar .sidebar-list i {
    display: block;
    width: 0;
    margin: 0 auto;
    font-size: 26px;
    transform: translateX(-10px);
    cursor: pointer;
}

.sidebar .sidebar-list i:last-of-type {
    margin-top: 40px;
}

.sidebar .sidebar-medsos {
    background-color: #29362F;
    height: 35vh;
    padding-top: 27px;
}

.sidebar .sidebar-medsos i {
    color: #fff;
    display: block;
    width: 0;
    margin: 33px auto;
    font-size: 23px;
    transform: translateX(-10px);
    cursor: pointer;
}

