@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    padding: 35px 80px;
    z-index: 111;
    background-color: #F3F8FC;
}

.navbar .nav-logo img{
    width: 150px;
}

.navbar .nav-links {
    width: 100%;
    margin-top: 22px;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar .nav-links ul li {
    display: inline-block;
    margin-left: 130px;
    transform: translateX(-40px);

}

.navbar .nav-links ul li a {
    text-decoration: none;
    color: #29362F;
    font-size: 20px;
}

.navbar .nav-links ul li::after {
    content: '';
    display: block;
    height: 2.5px;
    width: 0;
    background-color: #29362F;
    margin: auto;
    transition: .5s;
}

.navbar .nav-links ul li:hover::after {
    width: 100%;
}

main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F3F8FC;
}

main #content {
    width: 90%;
    height: 100vh;
    border: 1px solid #000;
}

main #content img {
    width: 100%;
    height: 100vh;
    margin-top: -90px;
}

.sidebar {
    width: 10%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar .sidebar-list {
    background-color: #fff;
    height: 65vh;
    padding: 60px 0 0;
}

.sidebar .sidebar-list i {
    display: block;
    width: 0;
    margin: 0 auto;
    font-size: 26px;
    transform: translateX(-10px);
}

.sidebar .sidebar-medsos {
    background-color: #29362F;
    height: 35vh;
}